.emailsignup__container{
    background: rgb(2, 2, 90);
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.emailsignup__container h3{
    color: white; 
    font-size:2rem; 
}

.emailsignup__container p{
    color: grey; 
}


.emailsignup__container > div{
    margin-left:30vh;
    margin-right:30vh; 
}

.emailsignup__component{
    grid: 30vh / 2fr 1fr; 
    align-items: center; 
    justify-content: center;

}

input{
    width:20rem; 
    height: 2.5rem; 
    margin-right:0.3rem; 
    font-size: 1.5rem; 
    border-radius: 5px;
    padding:0.5rem; 
    outline:none; 
    border-style:none;
}


#subscribe__button{
    height: 3.5rem; 
    width: 10rem; 
    padding-bottom:1rem; 
    padding-top: 1rem; 
    margin-top:1rem; 
    background: #009fe3;
    color: white; 
    font-weight: bold;
    border: none; 
    
}