
.NavbarItems {
    display: flex; 
    flex-direction: column; 
    height: 40vh; 
    background: #0042a0;
    /* background-image: url(https://r-xx.bstatic.com/xdata/images/xphoto/2880x1116/208091804.jpg?k=94914d07b33a5650107203923da2a2c0343e87e4719d6370ffec26b1d04d2ade&o=);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:30vh;
    margin-right:30vh;   */
    color: white; 
    
}

.topNavBar,.bottomNavBar{
    display:flex; 
    justify-content: space-between;
    margin-left:30vh;
    margin-right:30vh;  
}



.nav-menu {
    display: grid; 
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px; 
    list-style:none;
    align-items: center; 
}

.nav-links{
    text-decoration: none; 
    color: white; 
    font-size: 0.9rem; 
    padding: 1rem 2rem; 
    white-space: nowrap
}

.nav-links:hover{
    background-color:rgba(82, 153, 255,0.2);
    color: white; 
    border-radius:30px; 
    cursor: pointer; 
}


.navBarButtons {
    margin-top:25px; 
    color: #0042a0; 
}

.navBarText{
    color: white; 
    margin-left:30vh;
    margin-right:30vh;  

}

.navBarText h2{
    font-size: 3rem; 

}

.navBarText p{
    font-size: 1.5rem; 

}



